body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EuclidRegular";
}
@font-face {
  font-family: EuclidBold;
  src: url("./assets/fonts/EuclidBold.ttf");
}

@font-face {
  font-family: EuclidLight;
  src: url("./assets/fonts/EuclidLight.ttf");
}

@font-face {
  font-family: EuclidMedium;
  src: url("./assets/fonts/EuclidMedium.ttf");
}

@font-face {
  font-family: EuclidRegular;
  src: url("./assets/fonts/EuclidRegular.ttf");
}

@font-face {
  font-family: EuclidSemiBold;
  src: url("./assets/fonts/EuclidSemiBold.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
